<section id="intro-section" class="section blue-bg">
	<div class="section-wrapper intro">
		<div class='intro-text-container'>
			<h1>
				<span class='black'>Hello!</span>
				<span class='white'>I'm Tyler.</span>
				<span class='black'>I love startups.</span>
			</h1>
		</div>
{{!-- 		<div class='tilted-squares-container'>
			<div class='big-tilt-right black-bg'>
			</div>
			<div class='small-tilt-right white-bg'>
			</div>
			<div class='small-tilt-left profile-image'>
			</div>
		</div> --}}
	</div>
</section>
<section class="black-bg white" id='resume'>
	<h1><a href='/sullivan_resume.pdf' target="_blank"> View My Resume.PDF </a><h1>
</section>
<section id="summary" class="section white-bg black">
	<div class="section-wrapper">
		<h1 class="long-heading">
			<span>I am a <span class='pink'>full stack</span> <span class='orange'>software</span> engineer,</span>
			<span>with a <span class='red'>passion</span> for clean, <span class='yellow'>modular code</span></span>
			<span>and whole <span class='purple'>product development.</span></span>
		</h1>
		<div class='about-wrapper'>
			<p>Currently a full stack software engineer for Pilotly, a small startup in the market research space for media & entertainment, I’ve had the privilege of working in a close-knit team on a data-driven product. I’ve worked on a wide array of projects - implementing robust payment processing, instantaneous messaging and notification systems, and user-centric features such as engagement emails, team mangement tools, and re-design implementations.</p>
			<p>Working for startups is extremely challenging and rewarding, and many times it’s necessary to wear many hats while developing software. In developing these great products, I enjoy leveraging my intution on product development, design, and consumer behavior I gained from The Wharton School of Business to inform and aid my work as a software engineer.</p>
			<p>While I have a strong interest in front-end technologies, I am constantly working to expand my skillset and am currently brainstorming ideas for side projects to increase my competence in mobile development and data visualization. Hit me up if you have any ideas, or just want to chat! :) </p>
		</div>
	</div>
</section>
<section id="skillset" class="section black-bg">
	<div class="section-wrapper">
		<h1>SKILLSET</h1>
		<div>
			<div class='skill-container'>
				<div class="skill-title">
					<h2>Languages</h2>
					<span class='underline blue-bg'></span>
					<ul class='skill-list'>
						<li>Javascript (ES5/6)</li>
						<li>HTML</li>
						<li>CSS/Sass</li>
						<li>Python</li>
						<li>SQL</li>
						<li>Java</li>
					</ul>
				</div>
			</div>
			<div class='skill-container'>
				<div class='skill-title'>
					<h2>Frameworks</h2>
					<span class='underline orange-bg'></span>
					<ul class='skill-list'>
						<li>ReactJS / Redux</li>
						<li>MeteorJS</li>
						<li>jQuery</li>
						<li>Twitter Bootstrap</li>
						<li>NodeJS</li>
						<li>ExpressJS</li>
						<li>HandlebarsJS</li>
						<li>Sockets.io</li>
					</ul>
				</div>
			</div>
			<div class="skill-container">
				<div class='skill-title'> 
					<h2>Design</h2>
					<span class='underline yellow-bg'></span>
					<ul class="skill-list">
						<li>Photoshop</li>
						<li>Illustrator</li>
						<li>InDesign</li>
						<li>Sketch</li>
					</ul>
				</div>
			</div>
			<div class='skill-container'>
				<div class='skill-title'>
					<h2>Tools & Tech</h2>
					<span class='underline pink-bg'></span>
					<ul class='skill-list'>
						<li>MongoDB</li>
						<li>MySQL</li>
						<li>npm scripts</li>
						<li>Command Line</li>
						<li>Git+GitHub</li>
						<li>Webhooks</li>
						<li>External APIs & SDKs</li>
					</ul>
				</div>
			</div>
			<div class='skill-container'>
				<div class='skill-title'>
					<h2>Knowledge</h2>
					<span class='underline purple-bg'></span>
					<ul class='skill-list'>
						<li>Product Development</li>
						<li>Consumer Behavior</li>
						<li>Data Analysis</li>
						<li>Marketing Strategy</li>
						<li>Social Media Management</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
{{!-- <section id="experience" class="section white-bg black">
	<div class="section-wrapper">
		<h1>EXPERIENCE</h1>
		<div>
			<div>
				<div>
					Arrow
				</div>
				<div>
				</div>
				<div>
					2017
				</div>
				<div>
				</div>
				<div>
					2016
				</div>
				<div>
				</div>
				<div>
					2015
				</div>
				<div>
				</div>
				<div>
					Arrow
				</div>
			</div>
			<div>
				<div>
					<h2>Pilotly</h2>
					<span> </span>
					<p>Built out and integrated payment processing, tracking, and permissions into the platform to process thousands of dollars in revenue. Worked extensively with our UI/UX Lead to implement re-designs for user emails, business site, and other portions of platform, refactoring and reducing CSS by 60%. Contributed to wide array of feature enrichment and platform maintenance, including notifications, tutorials, and team management tools.</p>
				</div>
			</div>
		</div>
	</div>
</section> --}}
<section id="values" class="section white-bg">
	<div class="section-wrapper black">
		<h1>
			VALUES
		</h1>
		<div class='values-container white'>
			<div class='values-box orange-bg'>
				<div class='values-title'>
{{!-- 					<div> 
						icon
					</div> --}}
					<h2>Software Craftsmanship</h2>
				</div>
				<p>I have a passion for what I do and take pride in continually trying to improve in writing clean, modular, maintanable code. Ownership is extremely important to me - but no one becomes masters in their craft without a lot of hard work and great mentorship. I look for work environments that are imbrued with a strong culture of mentorship and code reviews to take my skillset and others’ to the next level.</p>
			</div>
			<div class='values-box pink-bg'>
				<div class='values-title'>
{{!-- 					<div> 
						icon
					</div> --}}
					<h2>Diversity in Technology</h2>
				</div>
				<p>As a first-generation, middle-income, multiracial Ivy League graduate, I know firsthand that consistent exposure to other cultures, beliefs, and identities can breed mutual respect, understanding, and compassion for a better society. I intentially place myself in diverse communities and regularly participate in initiatives for cross-cultural understanding for this very reason.</p>
			</div>
			<div class='values-box blue-bg'>
				<div class='values-title'>
{{!-- 					<div> 
						icon
					</div> --}}
					<h2>Health & Wellness</h2>
				</div>
				<p>We have a limited time on this earth to love, laugh, and enjoy life. I strive to live a healthy lifestyle
				everyday, to learn, grow, and stay curious, taking care of myself, and supporting others to the very best of my abilities. While not coding, I can probably be found staying active, traveling, or spending time with the wonderfully amazing people in my life.</p>
			</div>
			<div class='values-box purple-bg'>
				<div class='values-title'>
{{!-- 					<div>
						icon 
					</div> --}}
					<h2>Data-Driven Decision Making</h2>
				</div>
				<p>Continuous measurement, feedback, and improvement of strategy, product, and human capital is a requisite to stay competitive. With my world-class business education, these principles are engrained into my being, and I work to implement better processes in every organization or company I am a part of.</p>
			</div>
		</div>
	</div>
</section>
<section id="footer" class="black-bg">
	<div class="section-wrapper">
		<h1 class="long-heading">Like what you see? Get in touch!</h1>
		<h1 class="long-heading">
			<span class="orange">tyler</span><span class="yellow">scott</span><span class="orange">.</span><span class='blue'>sullivan</span><span class='purple'>@</span><span class='pink'>outlook</span><span class='blue'>.</span><span class='purple'>com</span>			
		</h1>
{{!-- 		<ul>
			<li><a></a></li>
			<li><a></a></li>
			<li><a></a></li>
		</ul> --}}
	</div>
</section>

