/* CSS RESET
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/
@font-face {
	font-family: 'PhosphateInline';
	src: url(../fonts/PhosphateInline.ttf) 
}

@font-face {
	font-family: 'Hiragino Kaku Gothic Std W8';
	src: url(../fonts/HiraginoKakuGothicStandardW8.otf) 
}

@font-face {
	font-family: "Avenir Next";
	src: url(../fonts/AvenirNext/AvenirNextLTPro-Regular.otf)
}

@font-face {
	font-family: "Avenir Next";
	src: url(../fonts/AvenirNext/AvenirNextLTPro-Bold.otf)
	font-style: bold;
}

@font-face {
	font-family: "Avenir Next";
	src: url(../fonts/AvenirNext/AvenirNextLTPro-It.otf)
	font-style: italic;
}

* {
	box-sizing:border-box;
}

html, body {
	font-family: "Avenir Next";
	background-color: #1d1d1d;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	font: inherit;
	margin: 0;
	padding: 0;
}

a {
  color: #00B7FF;
}

/*colors*/
.black {
	color: #1d1d1d;
}

.white {
	color: #FFFFFF;
}

.red {
	color: #f10000;
}

.blue {
	color: #0798c7;
}

.orange {
	color: #ff8801;
}

.yellow {
	color: #ffd100;
}

.pink {
	color: #ff4183;
}

.purple {
	color: #7407d5;
}

/*background-colors*/

.black-bg {
	background-color: #1d1d1d;
}

.white-bg {
	background-color: #FFFFFF;
}

.blue-bg {
	background-color: #0798c7;
}

.orange-bg {
	background-color: #ff8801;
}

.yellow-bg {
	background-color: #ffd100;
}

.pink-bg {
	background-color: #ff4183;
}

.purple-bg {
	background-color: #7407d5;
}




h1 {
	font-size: 3.5em;
	font-family: 'PhosphateInline';
	text-align: center;
}

.long-heading {
	font-size: 2.5em;
	font-family: "Hiragino Kaku Gothic Std W8";
}

h2 {
	font-size: 1.5em;
	font-family: "Hiragino Kaku Gothic Std W8";
}

p {
	font-size: 1em;
}

a, a:hover, a:visited {
	color: inherit;
	text-decoration: none;
}

.section {
	width: 100%;
	min-height: 600px;
}

.section-wrapper {
	padding: 100px;
}

#intro-section {
	height: 100vh;
	min-height: 300px;
}

.intro {
}

.intro h1 {
	font-family: "Hiragino Kaku Gothic Std W8";
}

.intro h1 span {
	display: block;
	text-align: left;
}

.intro-text-container {
	float:right;
}

.tilted-squares-container {
	margin-top: 0px;
}

.big-tilt-right {
	position: absolute;
	height: 300px;
	width: 300px;
  -ms-transform: rotate(30deg); /* IE 9 */
  -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
  transform: rotate(30deg)
}

.small-tilt-right {
	position: absolute;
	height: 280px;
	width: 280px;
  -ms-transform: rotate(8deg); /* IE 9 */
  -webkit-transform: rotate(8deg); /* Chrome, Safari, Opera */
  transform: rotate(8deg)
}

.small-tilt-left {
	position: absolute;
	height: 260px;
	width: 260px;
	background-size: 260px 260px;
  -ms-transform: rotate(-8deg); /* IE 9 */
  -webkit-transform: rotate(-8deg); /* Chrome, Safari, Opera */
  transform: rotate(-8deg);
	background-image: url('../images/profilePicture.jpg');
}

#resume h1 {
	font-family: "Hiragino Kaku Gothic Std W8";
	font-size: 2em;	
	padding: 5px;
}


.about-wrapper {
	margin: 0 100px;
}


.underline {
	display: block;
	width: 100%;
	height: 2px;
}


.skill-container {
	vertical-align: top;
	text-align: center;
	display: inline-block;
	min-width: 33%;
}

.skill-container:nth-child(5) {
	float:right;
}

.skill-title {
	display: inline-block;
}

.skill-list {
	list-style: none;
	text-align: left;
	margin: 0;
	margin-left: .5em;
	padding: 5px 0 0 10px; 
}

.skill-list li {
	padding: 2px;
	font-size: .8em;
}


.values-container {
	text-align: center;
}


.values-box {
	vertical-align: top;
	text-align: left;
	display: inline-block;
	max-width: 45%;
	margin: 5px 5px;
	padding: 20px;
	border-radius: 10px;
	min-height: 280px;
}

.values-title {
	/*text-align: right;*/
}

.section-wrapper:last-child {
	padding: 50px;
}

.long-heading span {
	display: inline-block;
}

@media (max-width: 1000px) {
	h1 {

	}

	.long-heading {
		font-size: 1.5em;
	}

	.intro-text-container {
		float: none;
	}

	.tilted-squares-container {
		display: none;
/*		margin-top: 60px;
		text-align: center;*/
	}
/*
	#intro-section {
		height: 100vh;
	}*/

	.about-wrapper {
		margin: 0 20px;
	}

	.skill-container {
		width: 100%;
		text-align: left;
		margin-bottom: 20px;
	}

	.skill-container:nth-child(5) {
		float:none;
	}

	.values-box {
		min-width: 100%;
		min-height: 100px;
	}

}

@media()